.obsidian
/myScripts/
/Theory in Teaching and Learning/
/Journal/
/myScripts/
/Clippings/
/Journal/
/myScripts/
/Templates/
/Teaching and Learning/
/Workshop/
/Zotero Notes/
/icon/
/Syllabus/
/Table of Content.md
/6 Ways to Deal with a Dominant Personality.md
/How To Deal With An Authoritarian-Like Boss.md